.cookies-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.cookies-content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cookies-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.cookies-section {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-top: var(--dl-space-space-twounits);
}

.cookies-section h2 {
  color: var(--dl-color-theme-accent1);
}

.cookies-section p {
  line-height: 1.6;
}

.cookies-section strong {
  font-weight: 600;
}
